<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Two Columns Layout</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!--
    <div class="float-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
    -->

    <!--
    <div class="absolute-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
    -->

    <!--
    <div class="bfc-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
    -->

    <!--
    <div class="flex-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
    -->

    <!--
    <div class="grid-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
    -->

    <div class="table-container">
      <div class="left">
        <h1>Left Side</h1>
      </div>
      <div class="right">
        <h1>Right Side</h1>
      </div>
    </div>
  </body>
</html>
